/* Icon Utility */
.icon-svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
}

/* Base sizing for different button sizes */
.btn-sm .icon-svg {
    width: 14px;
    height: 14px;
}

.btn-xs .icon-svg {
    width: 12px;
    height: 12px;
}
