:root {
    /* Backgrounds */
    --bg-primary: 255 255 255;
    --bg-secondary: 237 238 240;
    --bg-tertiary: 212 213 214;
    --bg-muted: 244 245 246;
    --bg-disabled: 244 245 246;
    --bg-hover: 235 244 255;
    --bg-active: 219 235 255;
    --bg-active-disabled: 237 238 240;
    --bg-overlay: 0 0 0;
    --bg-overlay-dark: 0 0 0;

    /* Texts */
    --text-primary: 22 22 22;
    --text-secondary: 68 79 92;
    --text-tertiary: 150 154 163;
    --text-disabled: 212 213 214;
    --text-on-color: 255 255 255;
    --text-on-color-inverse: 0 0 0;
    --text-on-color-disabled: 109 112 122;

    /* Borders */
    --border-primary: 212 213 214;

    /* Analytics */
    --analytics-1: 100 141 230;
    --analytics-2: 187 168 246;
    --analytics-3: 46 220 234;
    --analytics-4: 192 104 104;
    --analytics-5: 252 154 97;
    --analytics-6: 253 220 74;
    --analytics-7: 172 217 66;
    --analytics-8: 104 190 168;
    --analytics-9: 238 164 218;
    --analytics-10: 161 194 255;

    /* Support */
    --support-bg1: 250 227 225;
    --support-bg2: 255 232 224;
    --support-bg3: 255 243 224;
    --support-bg4: 225 250 240;
    --support-bg5: 220 250 246;
    --support-bg6: 224 253 255;
    --support-bg7: 230 233 250;
    --support-bg8: 230 225 245;
    --support-bg9: 255 224 236;
    --support-bg10: 225 236 245;
    --support-bg11: 235 240 245;
    --support-bg12: 237 208 205;

    /* Icons */
    --icon-light: 150 154 163;
    --icon-dark: 68 79 92;
    --icon-disabled: 212 213 214;
    --icon-on-color: 255 255 255;
    --icon-on-color-inverse: 0 0 0;
    --icon-on-color-disabled: 150 154 163;

    /* Borders */
    --border-dark: 150 154 163;
    --border-light: 244 245 246;
    --border-disabled: 212 213 214;
    --border-on-color-disabled: 212 213 214;

    /* Accent */
    --accent-bg: 66 133 244;
    --accent-bg-hover: 0 96 255;
    --accent-bg-active: 0 96 255;
    --accent-bg-light: 235 244 255;
    --accent-text: 51 115 221;
    --accent-text-hover: 0 96 255;
    --accent-text-active: 0 96 255;
    --accent-icon: 66 133 244;
    --accent-icon-hover: 0 96 255;
    --accent-icon-active: 0 96 255;
    --accent-border: 66 133 244;
    --accent-border-hover: 66 133 244;
    --accent-border-active: 0 96 255;

    /* Negative */
    --bg-negative: 196 33 6;
    --bg-negative-hover: 214 37 8;
    --bg-negative-active: 147 25 4;
    --bg-negative-light: 254 234 230;
    --negative-text: 160 27 5;
    --negative-text-hover: 196 33 6;
    --negative-text-active: 196 33 6;
    --negative-icon: 160 27 5;
    --negative-icon-hover: 196 33 6;
    --negative-icon-active: 196 33 6;
    --negative-border: 196 33 6;
    --negative-border-hover: 214 37 8;
    --negative-border-active: 147 25 4;

    /* Warning */
    --warning-bg: 255 213 0;
    --warning-bg-hover: 255 248 230;
    --warning-bg-active: 152 112 2;
    --warning-bg-light: 255 248 230;
    --warning-text: 152 112 2;
    --warning-text-hover: 152 112 2;
    --warning-text-active: 232 170 0;
    --warning-icon: 232 170 0;
    --warning-icon-hover: 232 170 0;
    --warning-icon-active: 232 170 0;
    --warning-border: 232 170 0;
    --warning-border-hover: 255 213 0;
    --warning-border-active: 255 213 0;

    /* Positive */
    --positive-bg: 96 209 86;
    --positive-bg-hover: 60 134 53;
    --positive-bg-active: 86 191 77;
    --positive-bg-light: 239 250 238;
    --positive-text: 60 134 53;
    --positive-text-hover: 96 209 86;
    --positive-text-active: 86 191 77;
    --positive-icon: 96 209 86;
    --positive-icon-hover: 60 134 53;
    --positive-icon-active: 86 191 77;
    --positive-border: 86 191 77;
    --positive-border-hover: 60 134 53;
    --positive-border-active: 96 209 86;

    /* Always Dark */
    --always-dark-bg-primary: 63 71 87;
    --always-dark-bg-secondary: 111 120 132;
    --always-dark-text-primary: 244 245 246;
    --always-dark-text-secondary: 237 238 240;
    --always-dark-icon: 212 213 214;
    --always-dark-border: 21 37 50;

    /* Support FG */
    --support-fg1: 245 47 29;
    --support-fg2: 252 96 43;
    --support-fg3: 255 178 60;
    --support-fg4: 6 188 117;
    --support-fg5: 0 191 165;
    --support-fg6: 70 202 212;
    --support-fg7: 79 104 241;
    --support-fg8: 122 100 193;
    --support-fg9: 244 81 145;
    --support-fg10: 98 133 163;
    --support-fg11: 183 199 213;
    --support-fg12: 161 27 7;
}

body {
    background-color: rgb(var(--bg-muted));
    color: rgb(var(--text-primary));
}

/* Utilities */
.bg-primary {
    background-color: rgb(var(--bg-primary));
}

.bg-secondary {
    background-color: rgb(var(--bg-secondary));
}

.bg-tertiary {
    background-color: rgb(var(--bg-tertiary));
}

.bg-muted {
    background-color: rgb(var(--bg-muted));
}

.bg-disabled {
    background-color: rgb(var(--bg-disabled));
}

.bg-hover {
    background-color: rgb(var(--bg-hover));
}

.bg-active {
    background-color: rgb(var(--bg-active));
}

.bg-active-disabled {
    background-color: rgb(var(--bg-active-disabled));
}

.bg-overlay {
    background-color: rgb(var(--bg-overlay));
}

.bg-overlay-dark {
    background-color: rgb(var(--bg-overlay-dark));
}

.text-primary {
    color: rgb(var(--text-primary));
}

.text-secondary {
    color: rgb(var(--text-secondary));
}

.text-tertiary {
    color: rgb(var(--text-tertiary));
}

.text-disabled {
    color: rgb(var(--text-disabled));
}

.text-on-color {
    color: rgb(var(--text-on-color));
}

.text-on-color-inverse {
    color: rgb(var(--text-on-color-inverse));
}

.text-on-color-disabled {
    color: rgb(var(--text-on-color-disabled));
}

.border-primary {
    border-color: rgb(var(--border-primary));
}

.border-dark {
    border-color: rgb(var(--border-dark));
}

.border-light {
    border-color: rgb(var(--border-light));
}

.border-disabled {
    border-color: rgb(var(--border-disabled));
}

.border-on-color-disabled {
    border-color: rgb(var(--border-on-color-disabled));
}

.bg-analytics-1 {
    background-color: rgb(var(--analytics-1));
}

.bg-analytics-2 {
    background-color: rgb(var(--analytics-2));
}

.bg-analytics-3 {
    background-color: rgb(var(--analytics-3));
}

.bg-analytics-4 {
    background-color: rgb(var(--analytics-4));
}

.bg-analytics-5 {
    background-color: rgb(var(--analytics-5));
}

.bg-analytics-6 {
    background-color: rgb(var(--analytics-6));
}

.bg-analytics-7 {
    background-color: rgb(var(--analytics-7));
}

.bg-analytics-8 {
    background-color: rgb(var(--analytics-8));
}

.bg-analytics-9 {
    background-color: rgb(var(--analytics-9));
}

.bg-analytics-10 {
    background-color: rgb(var(--analytics-10));
}

.bg-support-bg1 {
    background-color: rgb(var(--support-bg1));
}

.bg-support-bg2 {
    background-color: rgb(var(--support-bg2));
}

.bg-support-bg3 {
    background-color: rgb(var(--support-bg3));
}

.bg-support-bg4 {
    background-color: rgb(var(--support-bg4));
}

.bg-support-bg5 {
    background-color: rgb(var(--support-bg5));
}

.bg-support-bg6 {
    background-color: rgb(var(--support-bg6));
}

.bg-support-bg7 {
    background-color: rgb(var(--support-bg7));
}

.bg-support-bg8 {
    background-color: rgb(var(--support-bg8));
}

.bg-support-bg9 {
    background-color: rgb(var(--support-bg9));
}

.bg-support-bg10 {
    background-color: rgb(var(--support-bg10));
}

.bg-support-bg11 {
    background-color: rgb(var(--support-bg11));
}

.bg-support-bg12 {
    background-color: rgb(var(--support-bg12));
}

.text-support-fg1 {
    color: rgb(var(--support-fg1));
}

.text-support-fg2 {
    color: rgb(var(--support-fg2));
}

.text-support-fg3 {
    color: rgb(var(--support-fg3));
}

.text-support-fg4 {
    color: rgb(var(--support-fg4));
}

.text-support-fg5 {
    color: rgb(var(--support-fg5));
}

.text-support-fg6 {
    color: rgb(var(--support-fg6));
}

.text-support-fg7 {
    color: rgb(var(--support-fg7));
}

.text-support-fg8 {
    color: rgb(var(--support-fg8));
}

.text-support-fg9 {
    color: rgb(var(--support-fg9));
}

.text-support-fg10 {
    color: rgb(var(--support-fg10));
}

.text-support-fg11 {
    color: rgb(var(--support-fg11));
}

.text-support-fg12 {
    color: rgb(var(--support-fg12));
}

/* Icons */
.icon-light {
    color: rgb(var(--icon-light));
}

.icon-dark {
    color: rgb(var(--icon-dark));
}

.icon-disabled {
    color: rgb(var(--icon-disabled));
}

.icon-on-color {
    color: rgb(var(--icon-on-color));
}

.icon-on-color-inverse {
    color: rgb(var(--icon-on-color-inverse));
}

.icon-on-color-disabled {
    color: rgb(var(--icon-on-color-disabled));
}

/* Accent Utilities */
.bg-accent {
    background-color: rgb(var(--accent-bg));
}

.bg-accent-hover {
    background-color: rgb(var(--accent-bg-hover));
}

.bg-accent-active {
    background-color: rgb(var(--accent-bg-active));
}

.bg-accent-light {
    background-color: rgb(var(--accent-bg-light));
}

.text-accent {
    color: rgb(var(--accent-text));
}

.text-accent-hover {
    color: rgb(var(--accent-text-hover));
}

.text-accent-active {
    color: rgb(var(--accent-text-active));
}

.icon-accent {
    color: rgb(var(--accent-icon));
}

.icon-accent-hover {
    color: rgb(var(--accent-icon-hover));
}

.icon-accent-active {
    color: rgb(var(--accent-icon-active));
}

.border-accent {
    border-color: rgb(var(--accent-border));
}

.border-accent-hover {
    border-color: rgb(var(--accent-border-hover));
}

.border-accent-active {
    border-color: rgb(var(--accent-border-active));
}

/* Negative Utilities */
.bg-negative {
    background-color: rgb(var(--bg-negative));
}

.bg-negative-hover {
    background-color: rgb(var(--bg-negative-hover));
}

.bg-negative-active {
    background-color: rgb(var(--bg-negative-active));
}

.bg-negative-light {
    background-color: rgb(var(--bg-negative-light));
}

.text-negative {
    color: rgb(var(--negative-text));
}

.text-negative-hover {
    color: rgb(var(--negative-text-hover));
}

.text-negative-active {
    color: rgb(var(--negative-text-active));
}

.icon-negative {
    color: rgb(var(--negative-icon));
}

.icon-negative-hover {
    color: rgb(var(--negative-icon-hover));
}

.icon-negative-active {
    color: rgb(var(--negative-icon-active));
}

.border-negative {
    border-color: rgb(var(--negative-border));
}

.border-negative-hover {
    border-color: rgb(var(--negative-border-hover));
}

.border-negative-active {
    border-color: rgb(var(--negative-border-active));
}

/* Warning Utilities */
.bg-warning {
    background-color: rgb(var(--warning-bg));
}

.bg-warning-hover {
    background-color: rgb(var(--warning-bg-hover));
}

.bg-warning-active {
    background-color: rgb(var(--warning-bg-active));
}

.bg-warning-light {
    background-color: rgb(var(--warning-bg-light));
}

.text-warning {
    color: rgb(var(--warning-text));
}

.text-warning-hover {
    color: rgb(var(--warning-text-hover));
}

.text-warning-active {
    color: rgb(var(--warning-text-active));
}

.icon-warning {
    color: rgb(var(--warning-icon));
}

.icon-warning-hover {
    color: rgb(var(--warning-icon-hover));
}

.icon-warning-active {
    color: rgb(var(--warning-icon-active));
}

.border-warning {
    border-color: rgb(var(--warning-border));
}

.border-warning-hover {
    border-color: rgb(var(--warning-border-hover));
}

.border-warning-active {
    border-color: rgb(var(--warning-border-active));
}

/* Positive Utilities */
.bg-positive {
    background-color: rgb(var(--positive-bg));
}

.bg-positive-hover {
    background-color: rgb(var(--positive-bg-hover));
}

.bg-positive-active {
    background-color: rgb(var(--positive-bg-active));
}

.bg-positive-light {
    background-color: rgb(var(--positive-bg-light));
}

.text-positive {
    color: rgb(var(--positive-text));
}

.text-positive-hover {
    color: rgb(var(--positive-text-hover));
}

.text-positive-active {
    color: rgb(var(--positive-text-active));
}

.icon-positive {
    color: rgb(var(--positive-icon));
}

.icon-positive-hover {
    color: rgb(var(--positive-icon-hover));
}

.icon-positive-active {
    color: rgb(var(--positive-icon-active));
}

.border-positive {
    border-color: rgb(var(--positive-border));
}

.border-positive-hover {
    border-color: rgb(var(--positive-border-hover));
}

.border-positive-active {
    border-color: rgb(var(--positive-border-active));
}

/* Always Dark */
.bg-always-dark-primary {
    background-color: rgb(var(--always-dark-bg-primary));
}

.bg-always-dark-secondary {
    background-color: rgb(var(--always-dark-bg-secondary));
}

.text-always-dark-primary {
    color: rgb(var(--always-dark-text-primary));
}

.text-always-dark-secondary {
    color: rgb(var(--always-dark-text-secondary));
}

.icon-always-dark {
    color: rgb(var(--always-dark-icon));
}

.border-always-dark {
    border-color: rgb(var(--always-dark-border));
}