.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-2);
    border-radius: var(--radius-1);
    font-family: var(--font-family);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    transition: all var(--transition-base) var(--ease-in-out);
    border: var(--border-width-1) solid transparent;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
}

/* Sizes */
.btn-md {
    height: var(--height-4);
    padding: 0 var(--space-4);
    font-size: var(--text-label-base-size);
    line-height: var(--text-label-base-height);
}


.btn-sm {
    height: var(--height-2);
    padding: 0 var(--space-2);
    font-size: var(--text-label-small-size);
    line-height: var(--text-label-small-height);
}



.btn-xs {
    height: var(--height-0);
    padding: 0 var(--space-1);
    font-size: var(--font-size-0);
    line-height: var(--font-size-2);
}

/* Base Icon Styles */
.btn svg {
    width: var(--size-icon-4);
    height: var(--size-icon-4);
    display: block;
}